.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
.searchButton {
  color: #fff;
  /* font-family: Nunito; */
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 0; */
  /* right: 0; */
  /* width: 100%; */
  padding: 10px;
  /* margin: -83px auto 0 auto; */
  background-color: #ff7575;
  border-radius: 20px;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
  transform: scale(0.8);
}

form {
  height: 70px;
}

input[type='text'] {
  width: 100%;
  height: 70px;
  font-size: 40px;
  line-height: 1;
}

input[type='text']::placeholder {
  color: #ffe0e0;
}

#s-cover {
  width: 1px;
  padding-left: 5px;
}

.searchButton {
  position: relative;
  display: block;
  height: 70px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 30px;
  height: 30px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.searchButton span {
  position: absolute;
  top: 47px;
  left: 21px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.searchButton span:before,
.searchButton span:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 58px;
  height: 14px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 39px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover .searchButton span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover .searchButton span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover .searchButton span:before,
#s-cover:hover .searchButton span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}

@media (max-width: 800px) {
  form {
    height: 50px;
  }
  input[type='text'] {
    height: 50px;
    font-size: 30px;
  }

  .searchButton {
    width: auto;
    height: 50px;
  }

  #s-circle {
    width: 20px;
    height: 20px;
  }

  .searchButton span:before,
  .searchButton span:after {
    width: 29px;
    height: 14px;
  }
  .searchButton span {
    top: 28px;
    left: 14px;
  }
}
@media screen and (max-width: 576px) {
  #cover {
    transform: scale(0.6);
  }
  input[type='text'] {
    font-size: 25px;
  }
}
